---
---


@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

// Our variables
$base-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap-readable",
        "layout",
        "custom",
        "syntax-highlighting"
;

.r-web {
  border-top: skyblue solid 8px;
}
.r-other {
  border-top: grey solid 8px;
}
.r-game {
  border-top: yellow solid 8px;
}
.r-server {
  border-top: black solid 8px;
}
.r-cloud {
  border-top: blue solid 8px;
}
.r-IoT {
  border-top: red solid 8px;
}
.r-hard {
  border-top: green solid 8px;
}
.r-python {
  border-top: purple solid 8px;
}
.r-elixir {
  border-top: #6e4a7e solid 8px;
}
.r-blockchaine {
  border-top: #555 solid 8px;
}
.r-java {
  border-top: #b07219 solid 8px;
}
.r-ai {
  border-top: #ccc solid 8px;
}

.r-container {
  border-top: #00ADD8 solid 8px;
}

.r-aws {
  border-top: #F39E21 solid 8px;
}

.r-writing {
  border-top: black solid 8px;
}

.r-js {
  border-top: #f1e05a solid 8px;
}

.r-video {
  border-top: #333 solid 8px;
}

.r-vr {
  border-top: #999 solid 8px;
}

h3.panel-title, .panel-body {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}