---
layout: default
---

<div class="home">
  <div class="row">
    <div class="row">
      <div class="col-md-12 text-center">
        オンラインで行われるミートアップを集めています。実際の参加方法は各イベントページで確認してください。
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="heatmap"></div>
      </div>
    </div>
    <div class="row">
      {% assign futures = site.data.events | where: "future", true %}
      {% include list.html events=futures %}
    </div> 
    <div class="row">
      <div class="col-md-12">
        <h4>過去のイベント <span id="toggle">表示する</span></h4>
      </div>
      <div class="row hide past-events">
        {% assign pasts = site.data.events | where: "future", false %}
        {% include list.html events=pasts %}
      </div>
    </div>
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>